.top-container  {
    background-image: url(https://images.pexels.com/photos/743986/pexels-photo-743986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 500px;
    background-size: cover;
    
}
.middle-container {
    
}
.bottom-container {
    padding-bottom: 30px;
    padding-top: 30px;
}
body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;

}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}
a{
    color: #11999e;
}
.skill-row{
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.skill-image{
    width: 25%;
    float: left;
    margin-right: 30px;
    
}
.chilly{
    width: 40%;
    height: 20%;
    float: right;
    margin-right: 30px;
    border-radius: 10%;

}
.praveen{
    width: 15%;
    margin: auto;
    border-radius: 50%;
    border-style: solid;  
}
.fa-brands{
    margin-left: 10px;
}
